#login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 50;
  background: url("/assets/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  .login {
    background-color: rgb(202 234 249 / 10%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 28px;
  }
  .formlogin{
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 35px;
}

.inputlogin {
  outline: none;
  background-color: unset;
  border: unset;
  width: 100%;
  width: -webkit-fill-available;
  width: fill-available;
  font-family: Poppins;
  color: var(--color-primary);
  background-color: var(--color-primary-contrast);
  resize: none;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 20%);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: -4px;
  icon {
    margin-left: 4px;
    margin-right: 4px;
    padding-right: 4px;
    border-right: 0.5pt solid #cecece;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  input {
    outline: none;
    background-color: unset;
    border: unset;
    width: 100%;
    width: -webkit-fill-available;
    width: fill-available;
    font-family: Poppins;
    color: var(--color-primary);
    background-color: var(--color-primary-contrast);
    padding: 12px;
    resize: none;
  }
}

.btlg-loading {
  opacity: 0.7;
  cursor: not-allowed !important;
  pointer-events: none;
}

.loading-dots::after {
  content: '';
  animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
  0%   { content: ''; }
  33%  { content: '.'; }
  66%  { content: '..'; }
  100% { content: '...'; }
}

.version{
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: var(--color-primary);
  padding: 8px;
  font-size: 12px;
  color: var(--color-primary-contrast);
  border-radius: 4px;
  box-shadow: 2px 2px 5px #504f4f;
}